<div class="backed_sec">
	<div class="container">
		<div class="backed_heading text-center">
			<h3>Backed by <span>science</span></h3>
			<p>BrainVault is a revolutionary and patented mouthguard that <br />
			has been proven to help reduce the risk of concussion.</p>
		</div>
		<div class="science_part">
			<div class="col-md-4 left_shap">
				<ul>
					<li>
						<span><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/icon-1.png?v=1627466349"></span>
						<p>Fits Children & Adults<small><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/shap-1.png?v=1627468701"></small></p>
					</li>
					<li>
						<span><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/icon-2.png?v=1627466348"></span>
						<p>Lasts a sporting lifetime<small><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/shap-2.png?v=1627468701"></small></p>
					</li>
					<li>
						<span><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/icon-3.png?v=1627466348"></span>
						<p>Easy to fit<small><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/shap-3.png?v=1627468701"></small></p>
					</li>
				</ul>
			</div>	
			<div class="col-md-4">
				<figure><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/science-img.png?v=1627466844"></figure>
			</div>
			<div class="col-md-4 right_shap">
				<ul>
					<li>
						<p><small><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/shap-4.png?v=1627468701"></small>Patiented technology</p>
						<span><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/icon-1.png?v=1627466349"></span>
					</li>
					<li>
						<p><small><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/shap-2.png?v=1627468701"></small>Living hinge for durability</p>
						<span><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/icon-2.png?v=1627466348"></span>
					</li>
					<li>
						<p><small><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/shap-5.png?v=1627468701"></small>Refit-table</p>
						<span><img src="https://cdn.shopify.com/s/files/1/0584/0804/2701/files/icon-3.png?v=1627466348"></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="stay_safe">
			<h3>It’s time to play hard.<span>Stay safe with BrainVault.</span></h3>
			<a href="#">Buy Now</a>
		</div>
	</div>
</div>


