{% if section.blocks.size > 0 %}
<div class="logo-and-text" style="background-color:{{section.settings.bg-color}};">
  <div class="lt-wrap f fw">
    {% for block in section.blocks %}
    <div class="logo-content col-3">
      <div class="logo-content-wrap text-center">
        {% if block.settings.logo-img != blank %}
        <div class="img-logo mb-10"><img src="{{block.settings.logo-img | img_url:'56x56'}}" /></div>
        {% endif %}
        {% if block.settings.title != blank %}
        <div class="fs-15 ff-rmed white u-case">{{block.settings.title}}</div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Logo Text Sec",
    "settings": [
      {
        "type": "color",
        "id": "bg-color",
        "label": "Select Background Color",
		"default": "#333333"
      }
	],
    "blocks" : [
      {
        "type": "text",
        "name": "Text Logo",
		"settings": [			
          {
            "type": "image_picker",
            "id": "logo-img",
            "label": "Upload Image here"
          },			
          {
            "type": "text",
            "id": "title",
            "label": "Enter title here",
            "default": "Logo Title"
          }
		]
      }
    ],
    "presets": [
      {
        "name": "Logo Text"
      }
    ]
  }
{% endschema %}

