.bottom_text{
  display: flex;
  max-width: 550px;  
  margin: 30px auto;
}

.bottom_text h2{
  font-size: 50px;
  line-height: 45px !important;
  text-transform: uppercase;
  margin: 0 50px 0 0;
  min-width:200px;
}
.image-content-wrap{
  min-width:350px;
}
.bottom_text{
  padding-left: 20px;
}
.bottom_text p{
  font-weight: lighter !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-transform: uppercase;
  margin: 0px;
}

.head-logo{
  height: 30px;
}

.main-carousel{
  box-shadow: none !important;
  outline: none !important;
}
.main-carousel:focus-visible{
  box-shadow: none !important;
}

.carousel-cell .center{
  text-align: center;
}

.carousel-cell .left{
  text-align: left;
}

.carousel-cell .right{
  text-align: right;
}


.carousel-cell:hover .header_title {
  font-weight:bold;
}

.image-rounded{
  border-radius : 20%;
  width: 100%;
}

.image-square{
  border-radius : 0px;
  width: 100%;
}

/* 02-12-2021 Start */
.img-left{
  margin: 0 auto 0 0;
}
.img-center{
  margin: 0 auto;
}
.img-right{
  margin: 0 0 0 auto;
}
.carousel-cell img.head-logo{
  padding: 10px 25px;
  width: auto;
  height: 40px;
}
.carousel-cell:hover .head-logo {
  opacity: .5;
}
/* 02-12-2021 End */

.item_list.slick-slide{
  margin:4px;
}
.bottom-logo{
  margin-top: 20px;
}

.carousel-cell{
  width:20%;
  padding-left: 10px;
  padding-right : 10px;
  text-align: center;
}

.right_text strong{
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .dynamic-block-content-animations{
    margin-top: 20px;
  }
  .bottom_text{
    max-width: 100%;  
    margin: 0px auto;
  }

  .carousel-cell{
    width:50%;
  }

}




@media only screen and (max-width: 600px) {
  .image-content-wrap{
    min-width:auto;
  }

  .block-content {
    display: block;
  }

  .bottom_text h2{
    font-size: 30px !important;
    line-height: 25px !important;
    min-width:130px;
  }
}